name: Provision helm aws datadog cluster
on:
  workflow_dispatch:
    inputs:
      ec2-name:
        description: Network Dev
        required: true
        default: 'Network Dev'
        type: string
jobs:
  provision-datadog-cluster:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: '${{ secrets.TF_USER_AWS_KEY }}'
          aws-secret-access-key: '${{ secrets.TF_USER_AWS_SECRET }}'
          aws-region: us-east-1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      #Install helm
      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
          helm repo add datadog https://helm.datadoghq.com
          helm repo update

      #Install helm
      - name: Setup kubectl
        run: |
          aws eks update-kubeconfig --region us-east-1 --name BUS-dev-eksdemo
          helm list
          kubectl get
          helm install my-datadog-operator datadog/datadog-operator